<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/css/_Layout.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="wrapper">
    <header>
        <button id="menu-toggle">
            <img src="~/svg/hamburger2.svg" alt="меню" />
        </button>
        

        <script src="~/js/menu-toggle_button.js" defer></script>

        <img class="logo" src="~/images/logo.png" alt="главная страница" />
        <nav class="menu">
             <a>Одиночная игра</a>
             <a>Мультиплеер</a>

             <a>Статистика</a>
             <a>Достижения</a>
             <a>Магазин</a>
             <a>Лучшие игроки</a>
        </nav>
    </header>
    <main>
            <nav class="navbar">
                <ul class="barmenu">
                    <li><a>Одиночная игра</a></li>
                    <li><a>Мультиплеер</a></li>
                    <li><a>Статистика</a></li>
                    <li><a>Достижения</a></li>
                    <li><a>Магазин</a></li>
                    <li><a>Лучшие игроки</a></li>
                </ul>
            </nav>
            <div class="content">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1641255610974!6m8!1m7!1sCAoSLEFGMVFpcE1IcWl5TzFwZzJMSzJrTV9nZzMyUlpxd0ctYmYwVWxZY0VlbHZv!2m2!1d42.3601!2d-71.0589!3f80!4f0!5f0.1"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                @RenderBody()
            </div>
    </main>
    <footer>
        <div class="info">
        <p>Телефон: 124432543</p>
        <p>Почта: feadsfwe@asd.cas</p>
        <p>Адрес: Улица Гор</p>
        <p>Мой сайт. Все права защищены</p>
        </div>
    </footer>
    </div>
</body>
</html>