@{
	ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

<a class="gamestart">
	<img src="~/images/gamestart.jpg" alt="Начать игру" class="gamestartimg" />
</a>