@{
	ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>




<div class="location-container">
    @* <iframe id="location" src="https://www.google.com/maps/embed?pb=!4v1641255610974!6m8!1m7!1sCAoSLEFGMVFpcE1IcWl5TzFwZzJMSzJrTV9nZzMyUlpxd0ctYmYwVWxZY0VlbHZv!2m2!1d42.3601!2d-71.0589!3f80!4f0!5f0.1"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> *@
            <img id="mapBackground" src="~/images/GeoGuessr.jpg"/>
            <div class="blur"></div>
    <button id="gamestart">
        <img src="~/images/gamestart.jpg" alt="Начать игру" />
    </button>
</div>

<script src="~/js/gamestart_button.js" defer></script>

<div id="introduction">
    <section>
        <h1>GeoGuessr: Онлайн-игра на угадывание географии</h1>
        <p>Добро пожаловать в GeoGuessr, ваше место для захватывающей онлайн-версии игры GeoGuessr, совершенно бесплатно! Независимо от того, являетесь ли вы энтузиастом географии или просто ищете увлекательный способ исследовать мир, GeoGuessr Free предлагает захватывающий и образовательный опыт, которым можно наслаждаться прямо из дома.</p>
    </section>

    <section>
        <h2>Что такое GeoGuessr?</h2>
        <p>GeoGuessr — это онлайн-игра, которая переносит вас в случайное место на карте мира. Игра помещает вас на случайную локацию на Google Street View, и ваша задача — угадать, где вы находитесь, исследуя улицы, наблюдая за достопримечательностями и используя свои знания географии. Это веселый и интерактивный способ проверить свои навыки в географии и узнать больше о различных уголках мира.</p>
        <img id="earth" src="~/images/earth.jpg"/>
    </section>

    <section>
        <h2>Почему стоит играть в игру GeoGuessr?</h2>
        <ul>
            <li><strong>Совершенно бесплатно:</strong> В отличие от некоторых других версий, GeoGuessr Free предоставляет все увлекательные функции без каких-либо затрат. Вы можете исследовать и угадывать на свое удовольствие без подписки или оплаты.</li>
            <li><strong>Образовательно и увлекательно:</strong> GeoGuessr — это не просто игра, а инструмент для обучения. Она помогает улучшить знания мировой географии, распознавать достопримечательности и понимать различные культуры.</li>
            <li><strong>Доступно в любое время и в любом месте:</strong> Все, что вам нужно — это подключение к интернету. Независимо от того, находитесь ли вы на компьютере, планшете или смартфоне, GeoGuessr всегда готов провести вас в увлекательное виртуальное путешествие.</li>
        </ul>
    </section>

    <section>
        <h2>Особенности GeoGuessr</h2>
        <ul>
            <li><strong>Случайные локации:</strong> Каждая игра GeoGuessr начинается с новой и случайной локации, обеспечивая уникальный опыт каждый раз.</li>
            <li><strong>Навигация по Street View:</strong> Передвигайтесь и исследуйте окрестности, как в Google Street View, чтобы собрать подсказки и сделать свой выбор.</li>
            <li><strong>Система оценки:</strong> Чем ближе ваше предположение к реальному месту, тем больше очков вы получаете. Бросьте себе вызов и постарайтесь побить свой рекорд!</li>
            <li><strong>Режим для нескольких игроков:</strong> Соревнуйтесь с друзьями или другими игроками онлайн, чтобы увидеть, кто сделает наиболее точное предположение.</li>
        </ul>
    </section>

    <section>
        <h2>Как играть в GeoGuessr?</h2>
        <ol>
            <li><strong>Начните игру:</strong> Перейдите на сайт GeoGuessr по адресу <a href="" target="_blank">...</a> и нажмите кнопку "Начать игру", чтобы начать.</li>
            <li><strong>Исследуйте местоположение:</strong> Используйте стрелки для передвижения и ищите подсказки, такие как дорожные знаки, здания и природные объекты.</li>
            <li><strong>Сделайте предположение:</strong> Когда вы будете готовы, нажмите на карту, чтобы выбрать место, где, по вашему мнению, вы находитесь.</li>
            <li><strong>Заработайте очки:</strong> Вы получите очки в зависимости от того, насколько близко ваше предположение к реальному местоположению. Чем точнее, тем больше очков!</li>
        </ol>
    </section>

    <section>
        <p>Для лучшего опыта и получения последних обновлений добавьте GeoGuessr Free в закладки (Ctrl + D) и следите за нами в социальных сетях. Приятных исследований!</p>
    </section>
</div>

