* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 20px;
    gap: 125px;
    background-color: #181818
}

body {
    display: flex;
    flex-direction: column-reverse;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #181818;
    color: white
}

footer .info p {
    margin: 5px 0;
}

.logo {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #ffce00;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Palatino Linotype';
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:nth-child(2)::after {
    content: '|';
    color: #ffffff;
    margin-left: 30px;
}

