* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    background-color: #181818
}

body {
    display: flex;
    flex-direction: column-reverse;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #181818;
    color: white
}

footer .info p {
    margin: 5px 0;
}

#logo {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    color: white;
}