* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 30px;
    gap: 10px;
    background-color: #181818
}

body {
    display: flex;
    flex-direction: column-reverse;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #181818;
    color: white
}

footer .info p {
    margin: 5px 0;
}

.logo {
    margin-left: 0px;
    width: 11%;
    height: auto;
    min-width: 100px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #ffce00;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Palatino Linotype';
}

@media (min-width: 768px) {
    .menu a {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .menu a {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .menu a {
        font-size: 20px;
    }
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:nth-child(2)::after {
    content: '|';
    color: #ffffff;
    margin-left: 30px;
}

@media (max-width: 1024px) {
    .menu a {
        display: none;
    }
}

.navbar {
    display: none;
}

.menu-toggle {
    border: none;
    background: none;
    padding: 0;
    max-width: 30px;
    display: inline-block;
}

.menu-toggle img {
    width: 100%;
    height: auto;
}

