body {
    background-color: #252525;
}

a {
    color: #ffffff;
}

#gamestart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 23vw;
    max-height: 65px;
    max-width: 300px;
    border: 1px solid #000000;
    cursor: pointer;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gamestart:hover {
    border-color: #f9b510;
    box-shadow: 0 0 10px rgba(250, 223, 147, 1);
}

#gamestart img{
    height: 100%;
    width: 100%;
}


#introduction{
    color: #f9b510;
    font-family: 'Comic Sans MS';
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    text-align: justify;
}

#earth {
    height: auto;
    width: 100%;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#introduction section {
    margin-bottom: 45px;
}

#introduction section h1, h2 {
    margin-bottom: 15px;
}

#introduction section ul li, ol li {
    margin-bottom: 10px;
}

#mapBackground {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location-container {
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 120vh;
    position: relative;
    border: 3px solid;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(180, 162, 123, 0.20);
    backdrop-filter: blur(10px);
}